.background-scroll-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-scroll-content {
  background-image: url('/HomeRepeatingPattern.png'); 
  background-repeat: repeat;
  width: 100%;
  height: 200%; /* Adjust the height based on your design */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  animation: scrollAnimation 20s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}