.Header {
  display: flex;
  flex-direction:column;
  background: #000000;
  color: #ffffff;
  font-family: "VT323", monospace;
}

.Logo {
  justify-content:flex-start;
  max-width: 30%;
}

.Greeting {
  justify-content:flex-end;
}
