.CharacterSelection {
  background: url(/Locations/tavern.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.Characters{
  display: flex;
  min-height: 85%;
  align-items: flex-end;
  padding-left: 2em;
}

.popup{
  background: url(/public/Characters/Parchment.jpg);
  background-size: cover;
  font-family: 'VT323', monospace;
  font-weight: 600;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}