.CharacterSelection {
  background: url(/Locations/tavern.jpg);
  background-size: cover;
  max-height:100%;
  background-position: center;

}

.FemaleElfWizzard {
  max-height: 10%;
  max-width: 15%;
}

.MaleElfWizzard{
  max-height: 10%;
  max-width: 15%;
}

.FemaleHalf-OrcBarbarian{
  max-height: 10%;
  max-width: 15%;
}

.MaleHalf-OrcBarbarian{
  max-height: 10%;
  max-width: 15%;
}

.FemaleGnomeRanger{
  max-height: 10%;
  max-width: 15%;
}

.MaleGnomeRanger{
  max-height: 10%;
  max-width: 15%;
}