.Gameplay {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  flex-direction: row;
  background-color: #000;
  color: white;
}
.content {
  display: flex;
  align-items: flex-start;
}

.TextAndButtons {
  flex-direction: column;
  flex-wrap: wrap;
  width:50em;
  margin-top: 8em;
}

textarea,
.options {
  font-family: "Sixtyfour", sans-serif;
  border: 2px solid rgb(30, 224, 127);
  color: rgb(30, 224, 127);
  width: auto;
  margin-left: 6em;
}

.situation-image {
  border: 2px solid rgb(30, 224, 127);
}

.user-greeting {
  font-family: "Sixtyfour", sans-serif;
  color: rgb(30, 224, 127);
  margin-bottom: 4;
}

.image-frame {
  display: flex;
  justify-content: flex-start;
  height: 80vh;
  width: 40vw;
  margin-top: 6%;
  margin-left: 3em;
}

.image-container {
  overflow: hidden;
}

.situation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.TextBox {
  justify-content: flex-end;
  width: 45vw;
  height: 60vh;
  background-color: #000000;
}

.TextAndButtons {
  display: flex;
  justify-content: flex-end;
}

.option-buttons {
  flex-wrap: wrap;
  max-width: 50vw;
  display: flex;
  margin-left: 6em;

  background-color: #000000;
  padding: 1;
}

.save-load-buttons {
  margin-top: 4;
  margin: 3;
  border: rounded 0;
  background: #000000;
}

.disabled {
  color: grey;
  border-color: grey;
}

.options-container {
  max-width: 490px;
  display: flex;
}
