.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000000;
}

.HomePage {
  position: relative;
  z-index: 1;
  max-width: 75%;
  text-align: center;
  background: #000000;
  color: #d5b869;
  font-family: 'VT323', monospace;
}
 
.Logo {
  padding-top: 1em;
  max-width: 95%;
}
 .UnderLogo {
  display: flex;

 }
.Songweaver {
  display: flex;
  justify-content:flex-start;
  max-width: 30%;
}

.Instructions {
  display: flex;
  justify-content:center;
  font-size:40px;
  padding-right: 4%;
}

.FormSection {
  display: flex;
  flex-direction: column
}

.Forms {
  display: flex;
  flex-direction: row;
  justify-content:center;
  
  font-size:35px
}

.LoginForm {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  max-width: 50%;
}

.RegisterForm {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  max-width: 50%;
}

input {
  width: 75%;
  margin: 3%;
  border-color:  #49b0a5;
  background-color: #000000;
  font-family: 'VT323', monospace;
  font-size:30px;
  color: #FFFFFF;
  justify-content:center;
}

button {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 2%;
  margin: 2%;
  background-color: #49b0a5;
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #FFFFFF;
}

/* ScrollingBackground.css */
.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

.background-scroll-content {
  background-image: url('/Home/HomeRepeatingPattern.png');
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 250%;
  position: absolute;
  top: 0;
  left: 0;
  animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(-48%);
  }
}